networks:
  default:
    name: monokube
    driver: bridge
services:
  kluster:
    build:
      context: ./kluster
      dockerfile: Dockerfile
      target: release
    container_name: monokube-server
    command:
      - monokube
      - serve
    expose:
      - 9090
      - 50051
    ports:
      - "0.0.0.0:9090:9090"
      - "0.0.0.0:50051:50051"
    read_only: true
    restart: always
    volumes:
      - $HOME/.kube:/root/.kube:ro
  console:
    build:
      context: ./console
      dockerfile: Dockerfile
      target: release
    container_name: monokube-console
    environment:
      MONOKUBE_GRPC_HOST: kluster
      MONOKUBE_GRPC_PORT: 50051
      PG_HOST: host.docker.internal
    expose:
      - 8000
    read_only: true
    restart: always
    volumes:
      - static:/app/static:ro
  nginx:
    container_name: monokube-nginx
    depends_on:
      - console
    image: nginx:1.27.0-alpine
    ports:
      - "0.0.0.0:8000:80"
    read_only: true
    restart: always
    tmpfs:
      - /var/cache/nginx
      - /var/run
    volumes:
      - .nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - .nginx/proxy_params:/etc/nginx/proxy_params:ro
      - static:/app/static:ro

volumes:
  static:
