[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
django-htmx = "~=1.17"
hypercorn = "~=0.17"
kubernetes = "~=30.1"
PyYAML = "~=6.0.1"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
