[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1"
django-htmx = "~=1.21"
grpcio = "~=1.69"
hypercorn = "~=0.17"
kubernetes = "~=31.0"
protobuf = "~=5.29"
PyYAML = "~=6.0"
psycopg = {extras = ["binary", "pool"], version = "~=3.2"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
